{
	admin off
	email <acme-contact-email>
	servers {
		trusted_proxies static private_ranges
	}
}

board.cimmeria.app {
	tls {
		dns azure {
			tenant_id {env.AZURE_TENANT_ID}
			client_id {env.AZURE_CLIENT_ID}
			client_secret {env.AZURE_CLIENT_SECRET}
			subscription_id {env.AZURE_SUBSCRIPTION_ID}
			resource_group_name {env.AZURE_RESOURCE_GROUP_NAME}
		}
		resolvers 1.1.1.1 8.8.8.8
	}

	header {
		Strict-Transport-Security "max-age=31536000"
		-Server
	}

	request_body {
		max_size 100MB
	}

	handle /broker/* {
		reverse_proxy 127.0.0.1:8091
	}

	handle {
		reverse_proxy 127.0.0.1:8090 {
			header_up X-Forwarded-Proto https
		}
	}
}
