<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- Configuration file version - updated each time an option is added/changed/removed -->
	<version>20131025</version>
	
	<log_level>DEBUG1</log_level>
	
	<!-- Port used to communicate with the BaseApp -->
	<base_service_port>13001</base_service_port>
	
	<!-- Port used to communicate with game clients -->
	<logon_service_port>8080</logon_service_port>

	<!-- Connection string for the database server -->
	<db_connection_string>host=localhost port=5433 user=w-testing password=w-testing dbname=sgw</db_connection_string>
	
	<!-- Protocol version supported by the service -->
	<protocol_digest>58AFA196AD3AC4F65CADD99BFF23B799</protocol_digest>
</config>