<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- Configuration file version - updated each time an option is added/changed/removed -->
	<version>20131124</version>

	<log_level>DEBUG1</log_level>
	
	<shard_name>Shard</shard_name>
	<shard_id>1</shard_id>
	<shard_port>32832</shard_port>
	<!-- IP address of the interface the shard is bound to; 0.0.0.0 means all interfaces -->
	<shard_address>0.0.0.0</shard_address>
	<!-- External IP address of the BaseApp (the game client will connect to this address) -->
	<shard_external_address></shard_external_address>
	<!-- Key used when identifying ourselves to the Authentication Server -->
	<shard_auth_key></shard_auth_key>
	
	<!-- Port used to communicate with other services in the network -->
	<service_port>13002</service_port>
	
	<!-- IP address of the LoginApp (internal address) -->
	<auth_server_address>127.0.0.1</auth_server_address>
	
	<!-- Service port of the LoginApp -->
	<auth_server_port>13001</auth_server_port>
	
	<!-- External IP address of the minigame server (the game client will connect to this address) -->
	<minigame_external_address>127.0.0.1</minigame_external_address>
	
	<!-- External port of the minigame server (the game client will connect to this port) -->
	<minigame_external_port>30000</minigame_external_port>
	
	<!-- Service port of the minigame server (the server will run on this port) -->
	<minigame_port>30000</minigame_port>
	
	<!-- Clients are disconnected after being inactive (not sending any traffic) for this long (millisecs) -->
	<client_inactivity_timeout>10000</client_inactivity_timeout>
	
	<!-- 
		Transmit tick sync messages in the unreliable message queue.
		This significantly reduces reliable channel queuing / retransmit latency, but
		ticks may be lost if the network connection is lossy.
	-->
	<unreliable_tick_sync>false</unreliable_tick_sync>
	
	<!-- 
		Transmit movement update messages in the unreliable message queue.
		This significantly reduces reliable channel queuing / retransmit latency, but
		some update messages may be lost if the network connection is lossy.
	-->
	<unreliable_movement_update>false</unreliable_movement_update>
	
	<!-- Width and height of world grid chunks -->
	<grid_chunk_size>50</grid_chunk_size>
	
	<!-- Hysteresis range in addition to vision distance (number of chunks) -->
	<grid_hysteresis>1</grid_hysteresis>
	
	<!-- Distance the player entity can see (number of chunks) -->
	<grid_vision_distance>3</grid_vision_distance>
	
	<!-- Cache entities on the client by hiding them instead of deleting them entirely when they leave AoI -->
	<cache_on_client>true</cache_on_client>
	
	<!-- Duration of each server tick (in milliseconds) -->
	<tick_rate>100</tick_rate>
	
	<!-- Amount of notification ticks skipped after last notification -->
	<tick_notification_skip>1</tick_notification_skip>
	
	<!-- 
		How often client channels are ticked / flushed.
		Increasing this value decreases CPU load and (possibly) bandwidth usage but increases latency.
		This value is the worst case *local latency* (the time it takes to send a queued packet)
	-->
	<nub_tickrate>25</nub_tickrate>
	
	<!-- Size of Nub send buffer in kbytes -->
	<nub_send_buffer>512</nub_send_buffer>
	
	<!-- Size of Nub receive buffer in kbytes -->
	<nub_receive_buffer>512</nub_receive_buffer>
	
	<!-- Connection string for the database server -->
	<db_connection_string>host=localhost user=w-testing password=w-testing dbname=w-testing</db_connection_string>
	
	<!-- Python console port -->
	<console_port>8989</console_port>
	
	<!-- 
		Password to Python console
		Console server is only started if a password is set
	-->
	<py_console_password></py_console_password>
	
	<!--
		Enables developer mode:
		- Allow multiple logins with the same account/character
		- All players have max access level by default
		- Logging to player is enabled
		- Log level is increased to TRACE
	-->
	<developer_mode>false</developer_mode>
</config>