<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- Configuration file version - updated each time an option is added/changed/removed -->
	<version>20131124</version>
	
	<log_level>DEBUG1</log_level>
	
	<!-- Unique CellApp instance identifier -->
	<cell_id>1</cell_id>
	
	<!-- External IP address of the BaseApp -->
	<baseapp_address>127.0.0.1</baseapp_address>
	
	<!-- Service port of the BaseApp -->
	<baseapp_port>13002</baseapp_port>
	
	<!-- Amount of notification ticks skipped after last notification -->
	<tick_notification_skip>0</tick_notification_skip>
	
	<!-- Amount of ticks to skip after an idle movement update (-1 disables idle movement updates) -->
	<idle_update_ticks>10</idle_update_ticks>
	
	<!-- Cache static entity messages (eg. appearance) on the BaseApp -->
	<cache_entity_messages>true</cache_entity_messages>
	
	<!-- Cache static player messages (eg. appearance) on the BaseApp -->
	<cache_player_messages>false</cache_player_messages>
	
	<!-- Connection string for the database server -->
	<db_connection_string>host=localhost user=w-testing password=w-testing dbname=w-testing</db_connection_string>
	
	<!-- Python console port -->
	<console_port>8990</console_port>
	
	<!-- 
		Password to Python console
		Console server is only started if a password is set
	-->
	<py_console_password></py_console_password>
	
	<!--
		Enables developer mode:
		- Allow multiple logins with the same account/character
		- All players have max access level by default
		- Logging to player is enabled
		- Log level is increased to TRACE
	-->
	<developer_mode>false</developer_mode>
</config>