/target/
/shell/gen/
/shell/resources/windows/*.exe

/shell/resources/windows/helper-build.json
/tools/__pycache__/

/shell/resources/windows/prerequisite-helper-build.json
/shell/resources/windows/launch-helper-build.json
/shell/resources/windows/client-patches-build.json
/shell/resources/windows/*.dll
